/* Global */
body {
    overflow: hidden;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.page-content {
    display: flex;
    padding: 40px 50px;
    width: 85%;
    
 }

 .navigation {
    padding: 40px 0 40px 50px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Navigation */

.navigation .brand {
    width: 200px;
    cursor: pointer;
}
 .navigation ul {
     font-size: 14px;
     list-style: none;
     padding-left: 0;
 }

 .navigation a {
     text-decoration: none;
     color: black;
 }

 .navigation a:hover {
     color: rgb(63, 63, 63);
 }

 .navigation ul li:last-child {
     padding-top: 20px;
 }
 .navigation .icons-block {
    padding: 50px 0;
 }

 .navigation .icons-block a {
     padding-right: 5px;
 }

 .navigation .prev-next {
     padding-top: 140px;
     display: flex;
     /* justify-content: flex-end; */
     align-items: flex-end;
 }

 /* Slide prev/next */
.left, .right {  
    cursor: pointer;
    width: auto; 
    font-size: 14px;  
    transition: 0.6s ease;  
}  

 .main-page select {
    display: none;
}

.main-page {
    display: flex;
}

 /* Section-film */
 .slide, .slide-product, .slide-people {
    display: none  
}  

.slide img {  
    height: 424px;
    object-fit: contain; 
}

/* section-product */
.slide-product img {
    border: solid white 10px;
    height: 510px;
    object-fit: contain;
}

/* section-portrait */

.slide-people img {
    width:550px;
    height: 550px;
    object-fit: contain;
}

.slide-show-wrapper {  
    margin: auto;  
}

.slide-show-wrapper .slide p {
    font-size: 14px;
}

/* section-contact */

.section-contact p {
    font-size: 14px;
}

/* Fading animation */  
.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  
@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

/* Media-responsive */


/* @media (max-width: 1020px) {

    .slide-people img {
        width:100%;
        height: auto;
        object-fit: contain;
    }

}

@media (max-width: 960px) {
    .navigation {display: none;}
    .main-page select {display: block;}
}

@media (max-width: 787px) {
    .navigation .ul {
        display: none;
    }
    .navigation .brand {
        margin: 0 auto;
    } */
    /* .hero .brand img {
        display: none;
    }
    .section-menu .inner-container {
        flex-direction: column;
    }
    .section-menu .single-menu {
        width: auto;
    } */

/* } */

